@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(93, 0, 146);
    color: rgb(255, 236, 64);
    margin: 50px;
}
.container{
    width: 80%;
    max-width: 50vw;
    margin: auto;
}
h1{
    font-weight: 100;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
form{
    margin-top: 2rem;
    /* max-width: 630px;
    background-color: aqua; */
}
input{
    width: 50vw;
    height: 10vh;
    font-size: 30px;
    padding: 0px 1.6rem;
    border-radius: 5px;
    border: 1px solid rgb(255, 236, 64);
    text-align: center;
    margin-bottom: 0.5rem;
}
#submit{
    background-color: rgb(255, 236, 64);
    color: #242424;
    font-weight: bold;
}
ul{
    background-color: #d3d3d3;
    padding: 16px;
    color: #555555;
    border-radius: 5px;
    font-size: 1.4rem;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2e2e2e;
    padding-left: 10px;
    margin-bottom: 1rem;
}
p{
    overflow: scroll;
    margin-right: 5px;
    height: 65px;
}
p:first-child{
    color: #058b00;
    width: 20%;
}
p:nth-child(2){
    width: 55%;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
li span{
    cursor: pointer;
    color: #f03232;
}
.span{
    color: #242424;
    cursor: default;
}